@import "normilize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "scaffolding.scss";
@import "fonts.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/content.scss";
@import "blocks/services.scss";
@import "blocks/slogan.scss";
@import "blocks/feedback.scss";
