// resolutions
$mobile-min-width: 320px;
$tablet-width: 767px;
$desktop-width: 1200px;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;
$retina3x-dpi: 288dpi;
$retina3x-dppx: 3dppx;

/* fonts */
$default-font: "Calibri-light", "Arial", sans-serif;
$font-regular: "Calibri-regular", "Arial", sans-serif;
$font-bold: "Calibri-bold", "Arial", sans-serif;
$font-italic: "Calibri-light-italic", "Arial", sans-serif;
$add-font: "Century-Gothic", "Arial", sans-serif;

// цвет текста
$black-text: #161616;
$black-title: #3f1812;
$note-text: #7b5651;
$magenta-bright-text: #992a2a;
$red-text: #ff1e00;

// цвет ссылок
$red-link: #ff0000;
$blue-link: #0000ff;
$light-link: #9f726c;
$dark-link: #3b3be8;

// цвет фона
$main-bg-dark: #6d2416;
$magenta-bg-light: #a3817b;
$black-bg: #46221d;
$gray-bg: #edecec;
$red-bg: #ff5b5a;
$light: #ffffff;
$main-bg-light: #f7f1ed;

// градиенты для фона
$gradient-dark1: #8f6059;
$gradient-dark2: #3f1510;
$gradient-light1: #f8f4ed;
$gradient-light2: #c7afab;

// Кнопки и элементы
$btn-color: #4e3c3a;

$magenta-title: #763d3d;
$gray-text: #464646;
$magenta-dark: #401812;
$border-link: #c1afac;
$button-bg: #5d4441;
$link-blue: #3b3be8;
