.note {
  width: 83vw;
  height: auto;
  margin: 30px auto;
  padding: 20px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include desktop {
    max-width: 1100px;
  }
}

.note__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.4);
}

.note__text {
  margin-bottom: 30px;
  font-family: $font-italic;
  font-size: 15px;
  color: $note-text;
  text-align: justify;

  @include desktop {
    margin-bottom: 15px;
    font-size: 19px;
    text-align: center;
  }

  &--right {
    align-self: flex-end;
    font-size: 13px;

    @include desktop {
      font-size: 17px;
      padding-right: 25px;
    }
  }
}

.note__img {
  margin-bottom: 20px;
}
