@mixin mobile {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width + 1) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width + 1) {
    @content;
  }
}

@mixin retina($retinaX) {
  @if $retinaX == 2 {
    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      @content;
    }
  }

  @if $retinaX == 3 {
    @media (min-resolution: $retina3x-dpi), (min-resolution: $retina3x-dppx) {
      @content;
    }
  }
}

//--------------------------------------------------------------------
// Интерактивное подчеркивание по наведению
//--------------------------------------------------------------------

@mixin underline-hover ($fat, $bottom, $left, $color) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: $fat;
    bottom: $bottom;
    left: $left;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
