@import "normilize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "scaffolding.scss";
@import "fonts.scss";
@import "animate.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/content.scss";
@import "blocks/note.scss";
@import "blocks/price.scss";
@import "blocks/services.scss";
@import "blocks/slogan.scss";
@import "blocks/work.scss";
@import "blocks/ihilov.scss";
@import "blocks/modal.scss";
@import "blocks/feedback.scss";
@import "blocks/order.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
