.content {
  width: 100%;
}

.content__title {
  margin-bottom: 35px;
  color: $black-title;
  font-size: 23px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.content__text {
  margin-bottom: 15px;
  font-size: 18px;
  text-indent: 30px;
  text-align: justify;

  &:last-of-type {
    margin-bottom: 35px;
  }

  span {
    font-family: $font-bold;
  }
}

.content__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 100px;

  &--img {
    margin-bottom: 80px;
    display: flex;
  }

  &--school {
    max-width: 410px;
    padding: 0;

    span {
      color: $magenta-bright-text;
    }
  }
}

.content__persona {
  display: flex;
  flex-direction: column;
}

.content__list {
  list-style: none;
}

.content__item {
  font-size: 18px;
  margin-bottom: 10px;
  text-indent: 30px;
  text-align: justify;

  &::before {
    content: "— "
  }
}

.content__img {
  align-self: flex-start;
  margin: 30px 0 30px 100px;
}
