.content {
  width: 100%;
}

.content__title {
  margin-bottom: 35px;
  color: $black-title;
  font-size: 23px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.content__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  span {
    font-family: $font-bold;
  }

  @include desktop {
    margin-bottom: 15px;
    font-size: 18px;
    text-indent: 30px;
    text-align: justify;

    &:last-of-type {
      margin-bottom: 35px;
    }
  }
}

.content__link {
  margin: 0 auto;
  width: 240px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-bold;
  font-size: 18px;
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(rgb(143,96,89) 0%, rgb(63,21,16) 100%);

  &:first-of-type {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  &:last-of-type {
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

.content__wrapper {
  width: 70vw;
  margin: 0 auto;

  @include desktop {
    max-width: $desktop-width;
    padding: 0 100px;
  }

  &--img {
    margin-bottom: 80px;
    display: flex;
  }

  &--school {
    max-width: 410px;
    padding: 0;

    span {
      color: $magenta-bright-text;
    }
  }
}

.content__persona {
  display: flex;
  flex-direction: column;
}

.content__list {
  list-style: none;
}

.content__item {
  font-size: 18px;
  margin-bottom: 10px;
  text-indent: 30px;
  text-align: justify;

  &::before {
    content: "— "
  }
}

.content__img {
  align-self: flex-start;
  margin: 30px 0 30px 100px;
}
