.feedback {
  width: 100%;
  padding-top: 20px;
  background-image: url("../images/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include desktop {
    padding-top: 50px;
  }
}

.feedback__title {
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: $font-regular;
  color: $black-title;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @include desktop {
    margin-bottom: 25px;
    font-size: 23px;
    line-height: 35px;
  }
}

.feedback__text {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 14px;
  color: $black-text;

  &--conf {
    margin-bottom: 10px;
    font-size: 13px;
    color: $gray-text;
  }

  @include desktop {
    margin-bottom: 30px;
    font-size: 15px;

    &--conf {
      font-size: 14px;
    }
  }
}

.feedback__link {
  font-family: $font-bold;
  font-size: 14px;
  color: $black-title;
  text-decoration: none;

  &--conf {
    font-size: 13px;
  }

  @include desktop {
    font-size: 18px;

    &--conf {
      font-size: 14px;
    }
  }
}

.feedback__form {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.feedback__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--hidden {
    display: none;
  }
}

.feedback__wrap-inner {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback__input-box {
  width: 100%;
  position: relative;
  margin-bottom: 5px;

  @include desktop {
    max-width: 387px;

    &--textarea {
      max-width: 100%;
    }
  }
}

.feedback__phone,
.feedback__input {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  flex-grow: 1;
  padding-left: 15px;
  font-family: $font-italic;
  font-size: 15px;
  border: none;
  background-color: $light;
  box-shadow: 4px 4px 5px 0 rgba(128, 128, 128, 0.4);

  @include desktop {
    max-width: 387px;
    margin-bottom: 26px;
  }

  &--textarea {
    height: 225px;
    min-height: 225px;
    padding: 15px;

    @include desktop {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
}

.feedback__message {
  display: none;
  margin-bottom: 15px;
  font-family: $font-regular;
  font-size: 18px;
  color: $light;
  text-align: center;
}

.feedback__btn {
  width: 215px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: $light;
  font-family: $font-regular;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $button-bg;
  opacity: 0.6;
  cursor: pointer;
  outline: none;

  @include desktop {
    margin-bottom: 55px;
    height: 45px;
  }

  &--active {
    background-color: $black-title;
    opacity: 1;
  }

  &:active {
    background-color: $button-bg;
    opacity: 1;
  }
}

.feedback__input-box input.error,
.feedback__input-box .feedback__input--textarea.error {
  border: 1px solid #ff5a4b !important;
}

.feedback__input-box input.error ~ label.error,
.feedback__input-box .feedback__input--textarea.error ~ label.error {
  display: block;
  margin-left: 25px;
  font-size: 11px;
  line-height: 15px;
  color: $red-text;
  text-transform: uppercase;
  text-align: left;
  position: unset;
  margin-top: 10px;

  @include desktop {
    position: absolute;
    left: 0;
    top: 50px;
  }
}

.feedback__input-box .feedback__input--textarea.error ~ label.error {

  @include desktop {
    bottom: 10px;
    top: auto;
  }
}

.feedback__label {
  font-family: $font-italic;
  font-size: 15px;
  line-height: 25px;
  color: $gray-text;
  position: absolute;
  top: 0;
  left: 15px;
  padding-top: 12px;
  transition: top 0.6s;
  pointer-events: none;

  &::after {
    content: attr(data-note);
    color: $red-text;
  }
}

.feedback__input-box input:focus ~ label,
.feedback__input-box .feedback__input--not-empty ~ label,
.feedback__input-box .feedback__input--textarea:focus ~ label {
  top: -12px;
  right: 4px;
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: right;
}

.feedback__input-box .feedback__phone:focus ~ span,
.feedback__phone--not-empty ~ span {
  top: -12px;
  right: 4px;
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: right;
}

.feedback__input-box .feedback__phone {
  color: transparent;
}

.feedback__input-box .feedback__phone:focus,
.feedback__input-box .feedback__phone--not-empty {
  color: $gray-text;
}

.feedback__input-box input,
.feedback__input-box .feedback__input--textarea {
  outline: none;
}

/* .feedback__input-box .feedback__input:focus ~ .feedback__message,
.feedback__input-box .feedback__phone:focus ~ .feedback__message {
  display: none;
}

.feedback__input-box .feedback__input:focus ~ .feedback__btn,
.feedback__input-box .feedback__phone:focus ~ .feedback__btn {
  background-color: $black-title;
  opacity: 1;
} */

.feedback__input-box input:-webkit-autofill {
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  -webkit-text-fill-color: $gray-text !important; /* цвет текста */
}

.feedback__input-box input:-webkit-autofill ~ label {
  color: $gray-text;
}

/*.feedback__message-close {
  align-self: center;

  @include heliosc-regular;
  color: $blue-text;
  font-size: 16px;
  line-height: 25px;

  border: none;
  outline: 1px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  background-position: 0 1.31em;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  cursor: pointer;

  &:hover {
    color: $orange-bg;
    background-image: linear-gradient(rgba($orange-bg, 0.25), rgba($orange-bg, 0.25));
  }
} */

/*************** -- mask -- *******************/

.feedback__phone--hidden {
  display: none;
}

.feedback__input-box--tel {
  position: relative;
}

.feedback__phone--visible {
  position: relative;
  color: $magenta-bright-text;
}

.feedback__input-box .feedback__phone--mask {
  position: absolute;
  color: rgba(0, 0, 0, 0.25);
}

/*************** -- fix ie11-input -- *******************/
input::-ms-clear {
  display: none;
}
