.feedback {
  width: 100%;
  padding-top: 20px;
  background-image: url("../images/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include desktop {
    padding-top: 50px;
  }
}

.feedback__title {
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: $font-regular;
  color: $black-title;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @include desktop {
    margin-bottom: 25px;
    font-size: 23px;
    line-height: 35px;
  }
}

.feedback__text {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 14px;
  color: $black-text;

  &--conf {
    margin-bottom: 10px;
    font-size: 13px;
    color: $gray-text;
  }

  @include desktop {
    margin-bottom: 30px;
    font-size: 15px;

    &--conf {
      font-size: 14px;
    }
  }
}

.feedback__link {
  font-family: $font-bold;
  font-size: 14px;
  color: $black-title;
  text-decoration: none;

  &--conf {
    font-size: 13px;
  }

  @include desktop {
    font-size: 18px;

    &--conf {
      font-size: 14px;
    }
  }
}

.feedback__form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.feedback__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }
}

.feedback__input {
  margin: 0 auto;
  width: 95%;
  height: 50px;
  flex-grow: 1;
  margin-bottom: 5px;
  padding-left: 15px;
  font-family: $font-italic;
  font-size: 15px;
  border: none;
  background-color: $light;
  box-shadow: 4px 4px 5px 0 rgba(128, 128, 128, 0.4);

  @include desktop {
    width: 100%;
    max-width: 387px;
    margin-bottom: 26px;

    &:nth-of-type(odd) {
      margin-right: 13px;
    }

    &:nth-of-type(even) {
      margin-left: 13px;
    }
  }
}

.feedback__textarea {
  margin: 0 auto;
  min-height: 225px;
  width: 95%;
  margin-bottom: 15px;
  padding: 15px;
  font-family: $font-italic;
  font-size: 15px;
  box-shadow: 4px 4px 5px 0px rgba(128, 128, 128, 0.4);

  @include desktop {
    width: 100%;
    margin-bottom: 30px;
  }
}

.feedback__btn {
  width: 215px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: $light;
  font-family: $font-regular;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $button-bg;
  opacity: 0.6;
  cursor: pointer;

  @include desktop {
    margin-bottom: 55px;
    height: 45px;
  }

  &:hover {
    background-color: $black-title;
    opacity: 1;
  }

  &:active {
    background-color: $button-bg;
    opacity: 1;
  }
}
