.footer {
  width: 100%;
  height: 50px;
  background-color: $main-bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__firma {
  color: $light;
  padding-right: 5px;
  font-size: 12px;
  border-right: 1px solid $border-link;

  @include desktop {
    padding-right: 10px;
    font-size: 16px;
  }
}

.footer__link {
  padding-left: 5px;
  color: $light;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include desktop {
    padding-left: 10px;
    font-size: 16px;
  }
}
