.ihilov {
  width: 100vw;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100vw;
    background-color: $red-bg;
    z-index: -1;
  }
}

.ihilov__wrapper {
  width: 88%;
  max-width: 800px;
  margin: 50px auto 17px;
  padding: 60px 10px 50px;
  transform: translateX(-2.5%);
  background-color: $light;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 68px;
    height: 139px;
    position: absolute;
    top: 7px;
    right: 10px;
    background-image: url('../images/logo_klinic.png');
    background-repeat: no-repeat;
  }

  @include desktop {
    margin: 85px auto 90px;
    padding: 80px 120px 40px 60px;

    &::after {
      top: 17px;
      right: 50px;
    }
  }
}

.ihilov__title {
  margin-bottom: 35px;
  padding-right: 80px;
  font-family: $font-bold;
  font-size: 30px;
  text-transform: uppercase;
}

.ihilov__list {
  list-style: none;
}

.ihilov__call {
  display: flex;
  flex-direction: column;
}

.ihilov__text {
  margin-bottom: 20px;
  font-size: 15px;

  span {
    font-family: $font-bold;
  }
}

.ihilov__text-italic {
  font-family: $font-italic;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @include desktop {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.ihilov__phone {
  margin-bottom: 20px;
  font-family: $font-bold;
  font-size: 22px;
  color: $black-text;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.ihilov__btn {
  margin-bottom: 10px;
  font-family: $font-italic;
  font-size: 18px;
  font-weight: 700;
  color: $red-text;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  outline: none;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
