.order {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;

  @include desktop {
    padding-bottom: 50px;
  }
}

.order__wrapper {
  margin-bottom: 15px;
  padding: 70px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $gray-bg;
  box-shadow: 0px -2px 5px 0px rgba(128, 128, 128, 0.4);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 54px;
    height: 96px;
    left: 50px;
    top: -26px;
    background-image: url("../images/clip.png");
  }

  @include desktop {
    padding: 70px 50px 10px;
  }
}

.order__title {
  margin-bottom: 60px;
  font-family: $font-regular;
  font-size: 20px;
  font-weight: 400;
  color: $magenta-title;
  text-align: center;

  @include desktop {
    font-size: 22px;
  }
}

.order__form {
  display: flex;
  flex-direction: column;
}

.order__textarea {
  width: 100%;
  height: 80px;
  line-height: 38px;
  margin-bottom: 60px;
  resize: none;
  border: none;
  border-bottom: 1px solid $gray-text;
  background-color: $gray-bg;
  background-image: linear-gradient(rgb(237,236,236) 50%, rgb(70,70,70) 51%, rgb(237,236,236) 52%);
  outline: none;

  &:nth-of-type(2) {
    height: 120px;
    background-image: linear-gradient(rgb(237,236,236) 32%, rgb(70,70,70) 33%, rgb(237,236,236) 34%, rgb(237,236,236) 65%, rgb(70,70,70) 66%, rgb(237,236,236) 67%);
  }

  @include desktop {
    height: 40px;

    &:nth-of-type(2) {
      height: 80px;
      background-image: linear-gradient(rgb(237,236,236) 50%, rgb(70,70,70) 51%, rgb(237,236,236) 52%);
    }
  }
}

.order__label {
  width: 100%;
  font-size: 16px;
}

.order__text {
  margin-bottom: 20px;
  font-size: 14px;

  &--center {
    text-align: center;
  }

  @include desktop {
    font-size: 18px;

    &--conf {
      font-size: 14px;
    }
  }
}

.order__link {
  font-family: $font-bold;
  font-size: 15px;
  color: $black-title;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: 0.5;
  }

  @include desktop {
    font-size: 20px;

    &--pers {
      font-size: 16px;
    }
  }
}

.order__btn {
  width: 215px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 35px;
  color: $light;
  font-family: $font-regular;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $black-title;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $magenta-bright-text;
  }

  &:active {
    background-color: $btn-color;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}
